# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:


    Phyton
    R
    Julia

Some of the commonly used libraries used by Data Scientists include:
    
    
    Pandas
    Numpy
    Matplotlib

| Data Science Tools          |
|-------------------------------|
| 1. Jupyter Notebook         |
| 2. RStudio                  |
| 3. Visual Studio Code (VS Code) |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

# Objectives:

List popular languages for Data Science:
    
    Phyton
    R
    Julia
    SAS
    Perl

# Author
Teguh Eko Nugroho